*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(34, 108, 110);
  display: grid;
  grid-template-columns: 30% auto;
  height: 100vh;
}
.one{
  background-color: darkgray;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% auto 12%;
  
}
header{
  background-color: rgb(76, 66, 66);
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
header h3{
  margin-left: 5px;
}
header img{
  height: 20px;
  width: 25px;
}
main .mainn{
  display: flex;
  flex-direction: column;
}
.mainn .mm{
  width: 65%;
  background-color: white;
  padding: 0.9rem;
  border: 2px solid black;
  margin: 1rem auto;
  border-radius: 1rem;
}
.two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.immg{
  border: 5px solid darkgray;
  border-radius: 1rem;
  background-color: white;
  width: 60%;
  height: 85vh;
  margin: 1rem;
}
footer{
 align-self: center;
}

.butt{
  margin: auto;
  width: 60%;
  text-align: center;
  display: grid;
  justify-self: center;
}

footer button{
  color: white;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
}
.formm{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
 width: 40%;
  margin: auto;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.inputt,.inputt1{
  border: none;
  outline: none;
  margin: 5px;
}
.inputt1{
  border-bottom: 1px solid black;
}
.bb{
  margin: 0.9rem 0;
  width: 30%;
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.8rem;
}
.two .ab{
  width: 80%;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  display: grid;
  grid-template-rows: 20% 2% auto;
  height: 80vh;
  /*position: relative;*/
}
.ab .cc{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.ab .dd{
  padding: 1rem;
}
.cc .ff,.gg{
  border-radius: 0.9rem;
  margin-right: 0.5rem;
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
}
.cc .ff{
  background-color: green;
}
.cc .gg{
  background-color: red;
}
.cc .ii{
  font-weight: bold;
  font-size: 1.8rem;
}
.ab .hrr{
  border: none;
  border-bottom: 1px solid darkgray;
}
.two .jj{
  background-color: white;
  /*width: 30%;*/
  justify-content: center;
  border: 2px solid black;
  border-radius: 1rem;
  /*height: 20vh;*/
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*position: absolute;*/
 /* position: relative;*/
  justify-self: center;
}
.jj .kk{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-weight: bolder;
}
.jj .ll{
  border-radius: 1rem;
  border: 2px solid black;
  padding: 0.8rem 1.2rem;
  margin: 5px;

}